.rodape{
    background-color: rgb(35, 65, 145);
    color: white;
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: 1.1rem;
}